
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/2.0.6/stylesheets/locastyle.css">

<style>
.bd-example {
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    margin: auto;
    width: 50%;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14),0 2px 2px 0 rgba(0,0,0,0.12),0 1px 3px 0 rgba(0,0,0,0.2);
}

</style>

    <title>Desafios Shipay</title>
</head>


<body style="background-image: linear-gradient(to bottom right, #7902bb, #0064ff);">
<div class="bd-example" style="background-color: white;">
  <div style="text-align: center"><h1>Desafio técnico da Shipay</h1>
  <h2>Desenvolvedor Back-End</h2></div>
  <div class="list-group">
    <a href="/api/v1/" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1"><b>Desafio 1</b></h5>
        <h5 class="mb-1"><b>Endpoint de recebimento de transação: /api/v1/transacao (POST)</b></h5>
      </div>
      <p class="mb-1">O sistema irá receber uma requisição de um PDV (ponto de venda) uma série de informações. Já se os dados estiverem inválidos (CNPJ e CPF sem validação, valor em outro formato e etc),
        devemos retornar o aceito como false.</p>
    </a>
    <a href="/api/v1/transacoes/" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1"><b>Desafio 1</b></h5>
        <h5 class="mb-1"><b>Endpoint: /api/v1/transacoes/estabelecimento?cnpj= (parâmetro de CNPJ deve receber um CNPJ)</b></h5>
      </div>
      <p class="mb-1">Para também podermos ter os relatórios de transações de um certo estabelecimento, devemos
        implementar um endpoint GET onde pegamos todo o listing de transações.</p>
    </a>
    <a href="/segundodesafio" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1"><b>Desafio 2</b></h5>
      </div>
      <p class="mb-1">O João, seu colega desenvolvedor, solicitou um 'code review' do seguinte script Python. Você poderá fazer sugestões sobre como facilitar a manutenção do código por outros
        integrantes do time, organização do código, segurança, etc. Fique a vontade para sugerir
        boas práticas de escrita de códigos (KISS, DRY, SOLID, CleanCode...).</p>
    </a>

    <a href="/sobremim" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1"><b>Sobre mim</b></h5>
      </div>
      <p class="mb-1">Conheçam um pouco do meu trabalho.</p>
    </a>
  </div>





</div>
<!---   '''
        <body style=" background-image: linear-gradient(to bottom right, blue, purple);">
        <div style="margin: auto;width: 23%;padding: 18px;padding-right: 0px;border-right-width: 3px;background-color: white;border-radius: 10px;">
            <form method="post">
            <div>Digite os dados: </div>
                <input type="text" name="estabelecimento" placeholder="Estabelecimento" />
                 <input type="text" name="cliente" class="form-control cpf-mask" placeholder="Ex.: 000.000.000-00">
                 <input type="number" name="valor" min="0.00" max="10000.00" step="0.01" placeholder="Valor"  />
                <input type="text" name="descricao" placeholder="Descrição" />
                <input type="button" value="Enviar" />
            </form>
        </div>
        </body>
        '''-->


    </body>



        <!-- Atente-se para a ordem: primeiro jquery, depois locastyle, depois o JS do Bootstrap. -->
        <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>