
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/2.0.6/stylesheets/locastyle.css">
    <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
    <script src="http://codemirror.net/lib/codemirror.js"></script>
    <script src="http://codemirror.net/mode/python/python.js"></script>

<style>
.bd-example {
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    margin: auto;
    width: 60%;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14),0 2px 2px 0 rgba(0,0,0,0.12),0 1px 3px 0 rgba(0,0,0,0.2);
}

</style>

    <title>Segundo desafio</title>
</head>


<body style="background-image: linear-gradient(to bottom right, #7902bb, #0064ff);">
<div class="bd-example" style="background-color: white;">
    <h4 class="mb-1" style="text-align: center"><b>Desafio 2</b></h5>

    <div class="form-group">
      <label for="inputCodigo">Código original: </label>
      <button class="btn btn-success" title="Click to Show/Hide Content" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {document.getElementById('spoiler') .style.display=''}else{document.getElementById('spoiler') .style.display='none'}">Mostrar conteúdo</button>
<div id="spoiler" style="display:none">
  <pre><code id="python_code"># -*- coding: utf-8 -*-
    import os, sys, traceback, logging, configparser
    import xlsxwriter
    from datetime import datetime, timedelta, timezone
    from apscheduler.schedulers.blocking import BlockingScheduler
    from flask import Flask
    from flask_sqlalchemy import SQLAlchemy
    from logging.handlers import RotatingFileHandler
    
    
    
    def main(argv):
        greetings()
    
    
        print('Press Crtl+{0} to exit'.format('Break' if os.name == 'nt' else 'C'))
    
    
        app = Flask(__name__)
        handler = RotatingFileHandler('bot.log', maxBytes=10000, backupCount=1)
        handler.setLevel(logging.INFO)
        app.logger.addHandler(handler)
        app.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql+psycopg2://postgres:123mudar@127.0.0.1:5432/bot_db'
        db = SQLAlchemy(app)
        config = configparser.ConfigParser()
        config.read('/tmp/bot/settings/config.ini')
    
    
        var1 = int(config.get('scheduler','IntervalInMinutes'))
        app.logger.warning('Intervalo entre as execucoes do processo: {}'.format(var1))
        scheduler = BlockingScheduler()
    
    
        task1_instance = scheduler.add_job(task1(db), 'interval', id='task1_job', minutes=var1)
    
    
        try:
            scheduler.start()
        except(KeyboardInterrupt, SystemExit):
            pass
    
    
    def greetings():
        print('             ##########################')
        print('             # - ACME - Tasks Robot - #')
        print('             # - v 1.0 - 2020-07-28 - #')
        print('             ##########################')
    
    
    def task1(db):
    
    
        file_name = 'data_export_{0}.xlsx'.format(datetime.now().strftime("%Y%m%d%H%M%S"))
        file_path = os.path.join(os.path.curdir, file_name)
        workbook = xlsxwriter.Workbook(file_path)
        worksheet = workbook.add_worksheet()
    
    
        orders = db.session.execute('SELECT * FROM users;')
    
    
        index = 1
    
    
        worksheet.write('A{0}'.format(index),'Id')
        worksheet.write('B{0}'.format(index),'Name')
        worksheet.write('C{0}'.format(index),'Email')
        worksheet.write('D{0}'.format(index),'Password')
        worksheet.write('E{0}'.format(index),'Role Id')
        worksheet.write('F{0}'.format(index),'Created At')
        worksheet.write('G{0}'.format(index),'Updated At')
    
    
        for order in orders:
            index = index + 1
    
    
            print('Id: {0}'.format(order[0]))
            worksheet.write('A{0}'.format(index),order[0])
            print('Name: {0}'.format(order[1]))
            worksheet.write('B{0}'.format(index),order[1])
            print('Email: {0}'.format(order[2]))
            worksheet.write('C{0}'.format(index),order[2])
            print('Password: {0}'.format(order[3]))
            worksheet.write('D{0}'.format(index),order[3])
            print('Role Id: {0}'.format(order[4]))
            worksheet.write('E{0}'.format(index),order[4])
            print('Created At: {0}'.format(order[5]))
            worksheet.write('F{0}'.format(index),order[5])
            print('Updated At: {0}'.format(order[6]))
            worksheet.write('G{0}'.format(index),order[6])
    
    
        workbook.close()
        print('job executed!')
    
    
    if __name__ == '__main__':
        main(sys.argv)
    </code></pre>
    
</div>
<div>
<label for="obs">Minhas observações: </label></div>
    </div>
<div>Jamais deve-se introduzir senhas em plain text em código, principalmente se tratando de conexão a algum banco com dados sensíveis. É um code smell que pode ser devastador para um projeto crítico. O usuário sempre deve ser requisitado por ela em entrada manual, ou então, no máximo (e ainda assim, arriscado) ter uma chave critografada passada como argumento para a aplicação, que só pode ser descriptografada através de um token. Esta observação é referente ao seguinte código:</div>
<pre><code id="python_code">
  app.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql+psycopg2://postgres:123mudar@127.0.0.1:5432/bot_db'
  </code></pre>

  <div>Onde o "123mudar" seria a senha.</div>

  <div>Outra observação, por questões de portabilidade de código, não é uma boa ideia introduzir caminhos completos de diretórios para acessar algum arquivo, conforme pode ser observado aqui:</div>

  <pre><code id="python_code">
    config.read('/tmp/bot/settings/config.ini')
    </code></pre>

    <div>Neste caso, o ideal seria declarar uma variável específica para diretório, onde seria mais ou menos assim: </div>

    <pre><code id="python_code">

      DIRETORIO = '/tmp/bot/settings/'
      #ou qualquer outra coisa substituindo a string, já que poderia ser uma entrada arbitrária do sistema/usuário

      config.read(DIRETORIO + 'config.ini')
      </code></pre>

      <div>Tem um objeto/variável que não é referenciado em lugar nenhum no código... Teria que ser removido em alguma versão final. Este aqui: </div>

      <pre><code id="python_code">

        task1_instance = scheduler.add_job(task1(db), 'interval', id='task1_job', minutes=var1)
        </code></pre>

        <div>

          Sobre a arte em ASCII da função greetings; Há pelo menos três maneiras em que aquilo pode ser aprimorado.
        </div>


        <ul>
          <li>Usando \n (quebra de linha) para imprimir tudo em uma só linha.</li>
          <pre><code id="python_code"></code>
          # print('             ##########################\n             # - ACME - Tasks Robot - #\n             # - v 1.0 - 2020-07-28 - #\n             ##########################')
        </code></pre>
          <li>Utilizando as tags '''</li>
          <pre><code id="python_code"></code>
            print('''             ##########################
                                  # - ACME - Tasks Robot - #
                                  # - v 1.0 - 2020-07-28 - #
                                  ##########################''')
          </code></pre>
          <li>Utilizando a biblioteca art (parte artes em ASCII): https://pypi.org/project/art/</li>
        </ul>
        <br>
        <br>
        <div>Considero a função <b>def1</b> a que mais pode ser criticamente alterada em todo o código, pois há muitas coisas ali que podem ser otimizadas, e evitar reuso.</div>

  <div>Eu reescreveria os últimos fragmentos da seguinte forma: </div>


  <pre><code id="python_code">


    lista = [["A","Id",0],["B","Name",1],["C","Email",2],["D","Password",3],["E","Role Id",4],["F","Created At",5],["G","Updated At",6]]

    for x in lista:
        elemento=x[0]+'{0}'
        worksheet.write(elemento.format(1),x[1])


    index = 1
    for order in orders:
        index = index + 1
        for x in lista:
            elemento = x[1]+' {0}'
            print(elemento.format(order[x[2]]))
            elemento = x[0]+'{0}'
            worksheet.write(elemento.format(index),order[x[2]])

  </code></pre>



<br>

<div>E essas foram as minhas observações para o código do segundo desafio.</div>


    </body>


    <script type="text/javascript">
      window.onload = function(){
          var codeElement = document.getElementById('python_code');
          var code = codeElement.innerText;
        
          codeElement.innerHTML = "";
        
          var codeMirror = CodeMirror(
            codeElement,
            {
              value: code,
              mode: "python",
              theme: "default",
              lineNumbers: false,
              readOnly: true
            }
          );
      };
  </script>


        <!-- Atente-se para a ordem: primeiro jquery, depois locastyle, depois o JS do Bootstrap. -->
        <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>